body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.text {
    color: #000000;
    font-family: Monospace, Sans-Serif;
}
h1 {
    margin-top: 0px;
}
.badge {
    height: 1.2em;
}
.canvas {
    width: 95vh;
    height: 95vh;
}
.button {
    color: #ffffff;
    border-radius: 0px;
    border: none;
    background-color: #0080a0;
    font-family: Monospace, Sans-Serif;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
#leftdiv {
    width: 95vh;
    margin: 0px;
    padding: min(2.5vw, 2.5vh);
    height: 95vh;
    float: left;
}
#rightdiv {
    margin: 0px;
    padding:  min(2.5vw, 2.5vh);
    width: calc(100vw  - 95vh - min(2.5vw, 2.5vh) - min(5vw, 5vh) - 10vh);
    height: 95vh;
    float: left;
}
#starme {
    font-family: Monospace, Sans-Serif;
    width: 250px;
    height: 250px;
    text-align: center;
    rotate: -45deg;
    background-color: #ffffff;
    position: fixed;
    right: -130px;
    bottom: -135px;
    box-shadow: #a0a0a0 0px 0px 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #000000;
}
#githubmark {
    margin-top: 10px;
    width: 60px;
}